
.container {
    margin-top: 10px;
    padding: 0 20px;
}

.container h2 {
    margin-bottom: 15px;
    font-size: 24px;
    text-align: left;
}

.wrapper {
    border: 1px solid #ddd;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 #ddd
}

.wrapper::-webkit-scrollbar {
    height: 2px;
}

.wrapper::-webkit-scrollbar-track {
    background: #ddd;
}

.wrapper::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 2px;
}

.wrapper .item {
    flex: 0 0 14%;
    aspect-ratio: 1 / 1;
    margin-right: 2%;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}



.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 4px 30px;
    margin: 30px 0;
    border-radius: 30px;
    font-size: 16px;
    line-height: 1;
    transition: background 0.5s;
    text-decoration: none;
}

.btn:hover {
    background: #563434;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.header-row h2 {
    margin: 0;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.category-item {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #f9faff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    min-height: 120px;
}

.category-item img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 10px;
    background: #e6e6ff;
}

.category-info h3 {
    margin: 0;
    font-size: 20px;
}

.category-info p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #777;
}





